body {
    margin: 0;
    background-color: #1F2937;
    font-family: "Inter", sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#upperContainer{
    padding: 30px 0px 30px 0px;
    margin: 0px 30px;
    border-bottom: 1px solid #2F3E53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title{
    color: white;
    margin: 0;
}

#title span{
    color: #4ADF86;
}

#subTitle{
    color: #D5D4D8;
}

#textSelect{
    color: #D5D4D8;
    margin: 0px;
}

#btn{
    background-color: #10B981;
    border: none;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-right: 12px;
}

#input{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
}

#inputNum{
    background-color: #10B981;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

#inputNum::placeholder{
    color: white;
}

#lowerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    margin-top: 25px;
    padding: 30px 0px 30px 0px;
    margin: 0px 30px;
}

#firstPassword{
    width: 155px;
    height: 30px;
    background-color: #273549;
    margin-right: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #55F991;
    font-size: 12px;
}

#secondPassword{
    width: 155px;
    height: 30px;
    background-color: #273549;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #55F991;
    font-size: 12px;
}